/* create rounded corners on images (mainly for logo) */
img.rounded-corners {
    border-radius: 20px;
}

/* navbar styling */
.navbarText {}
    
.card-title {
    text-align: center;
    color: white;
}

.card-text {
    color: white;
}

.card-body {
    background-color: #134074;
}

.center-cards {
    display: flex;
    justify-content: center;
}

.about-card {
    width: 452px;
    height: 483px;
}

.about-img {
    width: 452px;
    height: 290px;
}