/* modify the bg image */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    height: 11.5rem;
    background-color: blue;
    background-size: cover;
}

.vg-banner{
    background-image: url("/assets/VideoGames/vidgameHeader.webp");
    height: 11.5rem;
    background-color: blue;
    background-size: cover;
    background-position: top 71% right 0%;
}

/* create rounded corners on images (mainly for logo) */
img.rounded-corners {
    border-radius: 1.25rem;
}

/* navbar styling */
.navbarText {
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    color: black;
}

.nav-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.card-title {
    text-align: center;
    color: white;
}

.card-text {
    color: white;
}

/* .card-body {
    background-color: #134074;
} */

.center-cards {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.about-card {
    width: 28.25rem;
    height: 30.188rem;
    background-color: #134074;
}

.index-card {
    width: 28.25rem;
    height: 30.188rem;
    background-color: #134074;
}

/* .about-img {
    width: 28.25rem;
    height: 18.125rem;
} */

/* Main Page Styling */
.banner-text {
    font-family: 'Hanuman', serif;
    font-size: 6rem;
    color: white;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    padding-left: 7rem;
}

@font-face {
    font-family: Handjet;
    src: url("../fonts/Handjet.ttf")
}

.about-banner-text {
    font-family: Handjet;
    font-size: 6rem;
    color: white;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    padding-left: 7rem;
}

@font-face {
    font-family: Arcade;
    src: url("../fonts/Arcade.ttf")
}

.vg-banner-text {
    font-family: Arcade;
    font-size: 4rem;
    color: white;
    padding-top: 3.65rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
}

.main-page-bg-color{
    background-color: #D9D9D9;
    min-height: calc(100vh - 17.75rem);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.ic-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-img-overlay {
    padding-left: 0;
    padding-right: 0;
}

/* Star Trek Page Styling */

@font-face {
    font-family: EdgeOfTheGalaxyRegular-OVEa6;
    src: url(../fonts/EdgeOfTheGalaxyRegular-OVEa6.otf)
}

.trek-banner-text {
    font-family: EdgeOfTheGalaxyRegular-OVEa6;
    font-size: 4rem;
    color: white;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 7rem;
}

.trek-page-bg-color {
    background-color: #D9D9D9;
}

.text-box-1 {
    background-color: #6D6969;
    height: 40vh;
}

.text-box-2 {
    background-color: #4D4D4D;
    height: 40vh;
}

.img-box-1 {

}

.img-box-2 {

}
.carousel-inner{
    height: 40vh;
}

.carousel-bg{
    background-repeat:no-repeat;
    background-size:30vh;
    background-position: top;
}

#trek-hero-10-1{
    background-image: url("../assets/StarTrek/tng.png");
}

#trek-hero-10-2{
    background-image: url("../assets/StarTrek/tng1.png");
}
#trek-hero-10-3{
    background-image: url("../assets/StarTrek/tng2.jpg");
}
#trek-hero-10-4{
    background-image: url("../assets/StarTrek/tng3.jpg");
}
#trek-hero-10-5{
    background-image: url("../assets/StarTrek/tng4.webp");
}

.carousel-item {
    /* background-size: cover; */
    height: 100vh;
    display: relative;
}

.list-padding{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}