/* modify the bg image */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    height: 11.5rem;
    background-color: blue;
    background-size: cover;
}

/* create rounded corners on images (mainly for logo) */
img.rounded-corners {
    border-radius: 1.25rem;
}

/* navbar styling */
.navbarText {
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    color: black;
}

.nav-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.card-title {
    text-align: center;
    color: white;
}

.card-text {
    color: white;
}

/* .card-body {
    background-color: #134074;
} */

.center-cards {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.about-card {
    width: 28.25rem;
    height: 30.188rem;
    background-color: #134074;
}

/* .about-img {
    width: 28.25rem;
    height: 18.125rem;
} */

/* Main Page Styling */
.banner-text {
    font-family: 'Hanuman', serif;
    font-size: 6rem;
    color: white;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    padding-left: 7rem;
}

.main-page-bg-color{
    background-color: #D9D9D9;
    min-height: calc(100vh - 17.75rem);
    display: flex;
    align-items: center;
    /* padding-top: 5rem; */
    padding-bottom: 5rem;
}